.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .home-banner img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 3rem;
    color: #004aad;
  }
  
  p {
    font-size: 1.5rem;
    color: #333;
  }
  